* {
  border: none;
  border-radius: 0;
  font-family: 'FuraCode Nerd Font', Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: #0e0f13;
  color: #ffffff;
  transition-property: background, background-color;
  transition-duration: 0.5s;
}

#workspaces button {
  padding: 2px 4px;
  background: transparent;
  color: #ffffff;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

#workspaces button:hover {
  text-shadow: inherit;
}

#workspaces button.focused {
  background: #444444;
  border-bottom: 3px solid #ffeb3b;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid #ffffff;
}

#tray,
#clock,
#backlight,
#pulseaudio,
#battery,
#temperature,
#memory,
#cpu,
#network,
#mpd,
#mode {
  padding: 0 5px;
  margin: 0 0 0 6px;
  color: #ffffff;
}

#pulseaudio {
  border-bottom: 3px solid transparent;
}

#pulseaudio.muted {
  color: #444444;
  border-bottom: 3px solid #f53c3c;
}

#battery {
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

#battery.charging {
  border-bottom: 3px solid #a7e22e;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery:not(.charging):not(.full) {
  border-bottom: 3px solid #f53c3c;
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature {
  border-bottom: 3px solid transparent;
}

#temperature.critical {
  border-bottom: 3px solid #f53c3c;
}

#memory {
  border-bottom: 3px solid transparent;
}

#memory.critical {
  border-bottom: 3px solid #f53c3c;
}

#cpu {
  border-bottom: 3px solid transparent;
}

#cpu.critical {
  border-bottom: 3px solid #f53c3c;
}

#network.disconnected {
  color: #444444;
}

#custom-recorder {
  margin: 0 0 0 5px;
}

#custom-battery {
  padding: 0 5px;
  margin: 0 4px;
  background-color: transparent;
  color: #ffffff;
}

#custom-battery.charging {
  border-bottom: 2px solid #00ff96;
}

#custom-battery.discharging {
  border-bottom: 0px;
  border-bottom: 2px solid #bff874;
}

#custom-battery1 {
  padding: 0 5px;
  margin: 0 4px;
  background-color: transparent;
  color: #ffffff;
}

#custom-battery1.charging {
  border-bottom: 2px solid #00ff96;
}

#custom-battery1.discharging {
  border-bottom: 2px solid #bff874;
}

#custom-pomodoro.paused {
  border-bottom: 3px solid @yellow;
}
